.container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-timing-function: ease-in-out;
  transition-property: opacity, visibility, background-filter;
  transition-duration: 0.15s;
  opacity: 1;
  backdrop-filter: blur(10px);
}

.opaqueContainer {
  composes: container;
  background-color: whitesmoke;
}

.hiddenContainer {
  composes: container;
  opacity: 0;
  visibility: hidden;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 6px solid rgb(69, 143, 174);
  border-right-color: transparent;
  animation-duration: 1.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: centeredSpinny;
}

.smallerSpinner {
  composes: spinner;
  animation-duration: 0.9s;
  border-color: transparent;
  border-left-color: rgb(69, 143, 174);
}
