.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex-shrink: 1;
  overflow: auto;
}

.list {
  overflow: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    color: #000;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    background-color: #eee;

    .actions button {
      opacity: 1;
      visibility: visible;
    }
  }

  .itemName {
    padding: 10px 20px;
  }

  .actions {
    display: flex;

    button {
      border-radius: 0;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      height: 100%;
      font-size: 12px;
      display: flex;
      opacity: 0;
      visibility: hidden;
      transition-duration: 0.15s;
      transition-timing-function: ease-in-out;
      transition-property: opacity, visibility, color, background-color;
      background-color: transparent;
      background-color: rgba(0, 0, 0, 0.025);

      &:hover {
        background-color: rgba(0, 0, 0, 0.075);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &.deleteButton {
        color: #c0392b;
        background-color: #c0392b20;
        &:hover {
          color: #fff;
          background-color: #c0392b;
        }
      }
    }
  }
}

.itemDisabled {
  composes: item;
  cursor: unset;
  opacity: 0.6;

  &:hover {
    background-color: unset;
    opacity: 0.6;
    color: inherit;
    text-shadow: unset;
  }
}

.fileDetails {
  padding: 0 10px 10px;
}
