.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 400px;
  margin: 0px auto;
  gap: 20px;
  background: whitesmoke;
  padding: 30px;
  border-radius: 20px;

  h3 {
    font-size: 1.2rem;
    padding: 0 20px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
}
