.container {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  background-color: whitesmoke;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}

.path {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #eee;
  border-width: 1px 0 1px 0;
  height: 45px;
  display: flex;
  align-items: center;

  span.pathFrom,
  span.pathTo {
    margin: 0 2px;
    font-weight: bold;
  }

  .actionPathStatus {
    padding: 10px 20px;
  }

  > form {
    width: 100%;
    height: 100%;

    > input {
      width: 100%;
      height: 100%;
      border-width: 0;
      background-color: transparent;
      padding: 0 20px;
      border-radius: 0;
    }
  }
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition-timing-function: ease-in-out;
  transition-property: opacity, visibility, background-filter;
  transition-duration: 0.15s;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);

  .modalBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .modalContent {
    position: relative;
    border-radius: 20px;
    background-color: #eee;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  }

  .modalTitle {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
  }
}

.modalOpen {
  composes: modal;
  opacity: 1;
  visibility: visible;
}
